function Sys.min 0
    push argument 0
    push argument 1
    sub
    if-gt PUSH_ARG1
    push argument 0
    return
(PUSH_ARG1)
    push argument 1
    return



function Sys.max 0
    push argument 0
    push argument 1
    sub
    if-lt PUSH_ARG1
    push argument 0
    return
(PUSH_ARG1)
    push argument 1
    return



function Sys.range 2
    
    push argument 1       
    push constant 1
    sub                   
    if-lt RETURN_ZERO     
    if-eq RETURN_ZERO     
    
    push argument 0
    pop that
    
    push that 0
    pop local 0           
    push that 0
    pop local 1          
    
    push argument 1
    push constant 1
    sub
    pop argument 1        
    
    push that
    push constant 1
    add
    pop that
    
(LOOP_START)
    push argument 1
    push constant 0
    sub
    if-lt LOOP_END        
    if-eq LOOP_END        
    
    push that 0
    pop temp 0
    
    push local 0
    push temp 0
    call Sys.min 2
    pop local 0
    
    push local 1
    push temp 0
    call Sys.max 2
    pop local 1
    
    push that
    push constant 1
    add
    pop that
    
    push argument 1
    push constant 1
    sub
    pop argument 1
    
    goto LOOP_START
    
(LOOP_END)
    push local 1
    push local 0
    sub
    return
    
(RETURN_ZERO)
    push constant 0
    return



function Sys.init 0
    
    push constant 256
    pop pointer 1       
    push that 0         
    push that 1         
    call Sys.range 2
    pop that 0          
    
label WHILE
    goto WHILE
