//// COMPUTE THE MINIMUM OF TWO VALUES
// This function takes two arguments and pushes the smaller of
// them onto the stack. To call this function, you should:
//   1. push two values onto the stack; and
//   2. call this function with `call Sys.min 2`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
// Push to the stack the minimum of two arguments.
//
function Sys.min 0
    push argument 0
    push argument 1
    lt              // Compare: if arg0 < arg1, result is true (-1), else false (0)
    if-goto RETURN_ARG0    // If arg0 < arg1, jump to return arg0
    push argument 1        // Otherwise, return arg1
    return
(RETURN_ARG0)
    push argument 0        // Return arg0
    return



//// COMPUTE THE MAXIMUM OF TWO VALUES
// This function takes two arguments and pushes the larger of
// them onto the stack. To call this function, you should:
//   1. push two values onto the stack; and
//   2. call this function with `call Sys.max 2`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
// Push to the stack the minimum of two arguments.
//
function Sys.max 0
    push argument 0
    push argument 1
    gt              // Compare: if arg0 > arg1, result is true (-1), else false (0)
    if-goto RETURN_ARG0    // If arg0 > arg1, jump to return arg0
    push argument 1        // Otherwise, return arg1
    return
(RETURN_ARG0)
    push argument 0        // Return arg0
    return



//// COMPUTE THE RANGE OF AN ARRAY.
// This function takes two arguments, representing an array of
// integers, and returns the range of the array onto the stack.
// The two arguments are:
//   ARG0 - memory location where the array starts, and
//   ARG1 - number of elements in the array.
// To call this function, you should:
//   1. push the address of the first array elementonto the stack;
//   2. push the number of array elements onto the stack; and
//   2. call this function with `call Sys.range 2`.
// Before returning, the function pushes the result onto the
// stack, so that, from the point of view of the callee, the
// result is at the top of the stack.
//
function Sys.range 3
    // Check if n <= 1, if so return 0
    push argument 1        // Push n (number of elements)
    push constant 2        // Push 2
    lt                     // Compare: if n < 2 (i.e., n <= 1), result is true (-1)
    if-goto RETURN_ZERO    // If true, jump to return 0
    
    // Initialize min and max with the first element of the array
    push argument 0        // Push base address of array
    pop pointer 1          // Set THAT to point to the array base address
    push that 0            // Push the first element of the array
    pop local 0            // Store first element as initial min in local 0
    push that 0            // Push the first element again
    pop local 1            // Store first element as initial max in local 1
    
    // Initialize loop counter i = 1
    push constant 1        
    pop local 2            // Store 1 in local 2 as loop counter i
    
(LOOP)
    // Check if i < n (continue loop condition)
    push local 2           // Push current i
    push argument 1        // Push n
    lt                     // Compare: if i < n, result is true (-1)
    if-goto IN_LOOP        // If true, continue with loop body
    goto END_LOOP          // Otherwise, exit loop
    
(IN_LOOP)
    // Calculate address of array element at index i: base_address + i
    push argument 0        // Push base address
    push local 2           // Push current index i
    add                    // Add to get address of array[i]
    pop pointer 1          // Set THAT to point to array[i]
    
    // Update min: call Sys.min(current_min, array[i])
    push local 0           // Push current min
    push that 0            // Push array[i]
    call Sys.min 2         // Call Sys.min with 2 arguments
    pop local 0            // Store result (new min) back in local 0
    
    // Update max: call Sys.max(current_max, array[i])
    push local 1           // Push current max
    push that 0            // Push array[i]
    call Sys.max 2         // Call Sys.max with 2 arguments
    pop local 1            // Store result (new max) back in local 1
    
    // Increment loop counter: i++
    push local 2           // Push current i
    push constant 1        // Push 1
    add                    // Add 1 to i
    pop local 2            // Store incremented i back in local 2
    
    goto LOOP              // Repeat loop
    
(END_LOOP)
    // Calculate range = max - min
    push local 1           // Push max
    push local 0           // Push min
    sub                    // Subtract: max - min
    return                 // Return the result (range)
    
(RETURN_ZERO)
    push constant 0        // Push 0
    return                 // Return 0



// The emulator will start executing from here. You can modify
// the code below while testing and debugging your code, but
// please revert your changes before submitting to Gradescope;
// otherwise, your submission will most likely fail all tests.
//
// A better way to test your code is to use the supplied file
//   Sys.tst
// with the virtual machine emulator. Please do not submit this
// file to Gradescope, as this will cause your submission to be
// rejected.
//
function Sys.init 0
    call Sys.range 2
label WHILE
    goto WHILE